<!DOCTYPE html>
<html>
  <head>
    <title>Flipme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b3bfcf250f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.dlmnice = "<%= image_url('dlmnice.png') %>";
      window.birdo = "<%= image_url('birdo.jpg') %>";
      window.splash = "<%= image_url('splash1.jpg') %>";
    </script>
    <%= favicon_link_tag asset_path('flipmefavicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
